.content {
    display: flex;
}
.innerContent {
    display: flex;
    margin: auto;
    align-items: center;
}
.innerContent > img {
    margin-right: 8px;
}
.font {
    margin-right: 8px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.button {
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
