/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.dsla-search-wrapper {
  width: 150px;
}

.aa-DetachedSearchButton {
  color: var(--ifm-color-primary) !important;
}

.aa-Autocomplete,
.aa-DetachedFormContainer,
.aa-Panel,
.aa-DetachedSearchButtonIcon,
.aa-Input,
.aa-Label svg,
.aa-LoadingIndicator svg {
  color: var(--ifm-color-primary) !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--ifm-color-primary) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--ifm-color-primary) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--ifm-color-primary) !important;
}

.landing-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
}

@media screen and (max-width: 600px) {
  .landing-container {
    grid-template-columns: 1fr;
  }
}

.landing-container > a {
  padding: 24px;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  display: block;
  cursor: pointer;
  color: var(--ifm-font-color-base) !important;
  font-size: 16px;
}

.landing-container > a h1 {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.landing-container > a h1 svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

html[data-theme='dark'] .landing-container > a h1 svg {
  fill: #fff;
}

.landing-container > a:hover {
  border-width: 0;
  background-color: white;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

html[data-theme='dark'] .landing-container > a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
